body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}

#login, #main-content {
  text-align: center;
}

#password {
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.signature {
  background-color: #e9e9ef;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
